a {
  text-decoration: none;
}
.about-item{
  float: left;
  width: 100%;
  display: block;
}
div.image-box{
  height: 150px;
  width: 150px;
  border: 1px dashed black;
  background: #E3F2FD;
  margin: 20px;
}
div.about-item-text{
  float: left;
  padding: 0 15px;
}

.rich-blog-homepage .post-picture::before{
  padding-top: 52% !important;
}
.testimonial-item
{
  min-height: 250px;
  color: #333333 !important;
}
.carousel-control-next, .carousel-control-prev{
  color: #333333 !important;
}
.testimonial-item .avatar{
  float: left;
  width: 150px;
  height: 150px;
}
.testimonial-item .message{
  padding-left: 30px;
}
.carousel-caption{
  text-align: justify-all;
  color: #333333 !important;
}

.mt-30{
  margin-top: 30px;
}
.checkout-as-guest-button {
  background-color: #4DAD3C !important;
  color: whitesmoke !important;
}
.section-wrapper-info{
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.section-wrapper-info .title{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-billing-address{
  float: left;
  width: 25%;
}
.section-order-info{
  float: right;
  width: 72%;
}
.section-payment-info {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 50px;
}

.section-confirm-order {
  float: left;
  display: block;
  width: 100%;
}
.new-billing-address{
  padding-bottom: 20px;
  border: 1px dashed #333;
}
.order-detail{
  margin-bottom: 50px;
  float: left;
  display: block;
  width: 100%;
}
.checkout-page .section{
  margin: 0;
}

.opc-billing-addresses{
  width: 30%;
  float: left;
}
.opc-order-summary{
  width: 68%;
  float:left;
  margin-left: 2%;
}

.cart-collaterals .coupon-code input[type="text"], .cart-collaterals .coupon-code input[type="email"], .cart-collaterals .coupon-code input[type="tel"]{
  float: left;
  width: calc(100% - 205px);
}
.cart-collaterals .coupon-code button{
  width: 200px;
}

.payment-info .info tr:first-child td{
  padding: 10px;
}
.category-navigation-list-wrapper{
  float: left;
}
.main-menu-left{
  float: left;
  height: 50px;
  width: auto;
}
ul.menu-left{
  display: block;
  width: 100%;
  height: 50px;
}
ul.menu-left li {
  display: inline-block;
  float: left;
}
ul.menu-left li a{
  display: block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  transition: color .2s ease;
}
.login-page .title, .registration-page .title, .login-page .title strong, .registration-page .title strong{
  color: #333333 !important;
}

/*About Gfarm home*/
.home-about-item{
  width: 32%;
  float: left;
}
.home-about-center img{
  width: 100%;
  padding: 10px;
}

.home-about-title{
  margin-bottom: 40px;
}

.home-about-item .text h4{
  font-size: 18px;
}
.home-about-item .text{
  text-align: left;
}

.home-about-left li{
  float: left;
  display: block;
  width: 100%;
  margin: 20px 0 10px 0;
  min-height: 150px;
}
.home-about-left li .text{
  padding: 10px;
  float: left;
  display: inline-block;
  width: 70%;
}
.home-about-left li .img{
  float: right;
  display: inline-block;
  width: 28%;
}

.home-about-right li{
  float: left;
  display: block;
  width: 100%;
  margin: 20px 0 10px 0;
  min-height: 150px;
}
.home-about-right li .text{
  padding: 10px;
  float: right;
  display: inline-block;
  width: 70%;
}
.home-about-right li .img{
  float: left;
  display: inline-block;
  width: 28%;
}
@media all and (max-width: 768px){
  .home-about-item{
    width: 100%;
  }
  .home-about-left li .text{
    margin-bottom: 30px;
  }
  .home-about-left li .text, .home-about-left li .img,.home-about-right li .text ,.home-about-right li .img{
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }
  .home-about-right li .img img, .home-about-left li .img img{
    width: 60%;
    margin: 0 auto;
  }

}
  @media all and (max-width: 1024px) {
  
  .main-menu-left{
    display: none !important;
  }
  .opc-billing-addresses{
    width: 100%;
    float: left;
  }
  .opc-order-summary{
    width: 100%;
    float:left;
    margin-left: 0;
  }

}