.sale-of-the-day-offer { background-image: url('https://gfarm.com.vn/images/thumbs/0000991.jpeg'); }.ribbon-position:first-of-type {
        z-index: 2;
}

.ribbon-position + .ribbon-position {
        top: 40px;
}
.footer-block .title {
cursor: pointer;
}
.slick-track{
margin:0 auto;
}